[Unit]
Description=DeliHerb Proxypass for parser
After=network.target

[Service]
User=root
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
WorkingDirectory=/root/deliherb
ExecStart=/usr/bin/python3 proxy.py

[Install]
WantedBy=multi-user.target